<div class="header">
    <nav class="navigation">
        <ul>
            <li>
                <a routerLink="/" class="nav-icon">
                    <span class="material-symbols-outlined">home</span>
                </a>
            </li>
            <li>
                <a routerLink="/about" class="nav-icon">
                    <span class="material-symbols-outlined">person</span>
                </a>
            </li>
            <li>
                <a routerLink="/projects" class="nav-icon">
                    <span class="material-symbols-outlined">work</span>
                </a>
            </li>
            <li>
                <a routerLink="/contact" class="nav-icon">
                    <span class="material-symbols-outlined">mail</span>
                </a>
            </li>
        </ul>
    </nav>
</div>