<div class="header">
    <nav class="navigation">
        <ul>
            <li>
                <a href="#sobre" class="nav-icon">
                    <span class="material-symbols-outlined">person</span>
                </a>
            </li>
            <li>
                <a href="#habilidades" class="nav-icon">
                    <span class="material-symbols-outlined">code</span>
                </a>
            </li>
            <li>
                <a href="#projetos" class="nav-icon">
                    <span class="material-symbols-outlined">work</span>
                </a>
            </li>
            <li>
                <a href="#contato" class="nav-icon">
                    <span class="material-symbols-outlined">mail</span>
                </a>
            </li>
        </ul>
    </nav>
</div>