<div class="contato">
    <h3>Entre em contato</h3>

    <div class="contato-lista">
        <a href="mailto:batistawelinton54@gmail.com" class="contato-item">
            <span class="material-symbols-outlined">mail</span>
            <span>batistawelinton54@gmail.com</span>
        </a>

        <a href="tel:+5533987509297" class="contato-item">
            <span class="material-symbols-outlined">call</span>
            <span>(33) 98750-9297</span>
        </a>

        <a href="https://www.linkedin.com/in/welinton-gomes-batista" target="_blank" rel="noopener noreferrer" class="contato-item">
            <i class="devicon-linkedin-plain"></i>
            <span>LinkedIn</span>
        </a>
    </div>
</div>